<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastWay</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Moirai+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/912e452282.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="header">
        <div class="logo"><img src="/pictures/fastway-logo.png" alt="" srcset=""></div>
    </div>

    <div class="balance-card">
        <div class="copy-btn">
            <button class="copy">Copy</button>
        </div>

        <div class="holder-name" id="holderPlacer">
            <h1>Mark Jordan John</h1>
        </div>

        <div class="addr-section" id="addressBox">
            0xA904934390RN4930232as33P
        </div>

        <div class="balance-section">
            <div class="crypto-logo"><img src="/pictures/cusd.png" alt="" srcset=""></div>
            <div class="crypto-balance"><p>$ 45.12</p></div>
        </div>

        <div class="bottom-logo">
            <div class="bottom-logo-container">
                <img src="/pictures/fastway-logo-white.png" alt="" srcset="">
            </div>
        </div>


    </div>

    <div class="list-profile-currencies">
        <div class="currency-value">
            <div class="currency-image"><img src="/pictures/kenya.png" alt=""></div>
            <p>KES 5865.20</p>
        </div>

        <div class="currency-value">
            <div class="currency-image"><img src="/pictures/cEUR.png" alt=""></div>
            <p>cEUR 41.74</p>
        </div>

        <div class="currency-value">
            <div class="currency-image"><img src="/pictures/cusd.png" alt=""></div>
            <p>cUSD 45.12</p>
        </div>
    </div>

    <div class="page-nav">
        <div class="page">
            <div class="page-logo"><img src="/pictures/online-shop.png" alt=""></div>
            <p>Businesses</p>
        </div>

        <div class="page">
            <div class="page-logo"><img src="/pictures/bill.png" alt=""></div>
            <p>Invoices</p>
            <span>0</span>
        </div>

        <div class="page">
            <div class="page-logo"><img src="/pictures/poor.png" alt=""></div>
            <p>Payments</p>
        </div>
    </div>

    <div class="invoices-container">
        <h2>Paid Invoices</h2>
        <div class="paid-invoices-list">
            <div class="sent-icon">
                <img src="/pictures/direct.png" alt="">
            </div>
            <div class="amount-sent"><p>$ 236.48 </p></div>
            <div class="transaction-desc">
                <p>sent to Bumblebee Inc. @ 2:47 pm</p>
            </div>
        </div>

        <div class="paid-invoices-list">
            <div class="sent-icon">
                <img src="/pictures/direct.png" alt="">
            </div>
            <div class="amount-sent"><p>$ 58.00 </p></div>
            <div class="transaction-desc" id="transBox">
                <p>sent to Fun Fair Group @ 7:36 am</p>
            </div>
        </div>
    </div>

    <div class="upload-form-container">
        <div class="upload-header">Add Invoice</div>
        <div class="upload-btn" id="uploadBtn">
            <div class="upload-icon">
                <img src="/pictures/image-gallery.png" alt="">
            </div>
            <p>Press here to upload your .png, .jpeg, .jpg or .pdf file.</p>
        </div>
    </div>

    <script type="module">
        import { getContract, createWalletClient, createPublicClient, formatEther, custom, http } from 'https://cdn.jsdelivr.net/npm/viem@2.13.2/+esm';
        import { celo } from 'https://cdn.jsdelivr.net/npm/viem@2.13.2/chains/+esm';
        import { stableTokenABI } from 'https://cdn.jsdelivr.net/npm/@celo/abis@11.0.0/+esm';
    
        const STABLE_TOKEN_ADDRESS = "0x765DE816845861e75A25fCA122bb6898B8B1282a";
    
        document.addEventListener('DOMContentLoaded', async () => {
            const addressBox = document.getElementById('addressBox');
            const holderPlacer = document.getElementById('holderPlacer');
    
            // Create a wallet client
            const client = createWalletClient({
                chain: celo,
                transport: custom(window.ethereum),
            });
    
            // Get the connected wallet address
            const [address] = await client.getAddresses();
            addressBox.innerText = address;
    
            async function checkCUSDBalance(myclient, address) {
                let StableTokenContract = getContract({
                    abi: stableTokenABI,
                    address: STABLE_TOKEN_ADDRESS,
                    myclient
                });

                let balanceInBigNumber = await StableTokenContract.read.balanceOf([
                    address
                ]);

                let balanceInWei = balanceInBigNumber.toString();

                let balanceInEthers = formatEther(balanceInWei);

                return balanceInEthers;
            }

            alert(checkCUSDBalance(client,address))

                        
        });
    </script>
    
    
    
</body>
</html>